###### Requirements without Version Specifiers ######`
openai

azure-cognitiveservices-speech # for evaluate speech
language-tool-python # 文法評価
deep-translator

###### Requirements with Version Specifiers ######`
django==3.2
