{% extends 'vocab/base.html' %}
{% load static %}

{% block content %}
<div class="head-container">
  <div class="header">
    <h2>Wordbook</h2>
  </div>
  <div class="add-button">
    <a href="/vocab/add/">Add New Word</a>
  </div>
  <div class="search-form">
    <form method="GET" action="{% url 'vocabpage' %}">
      <input type="text" name="search_query" placeholder="Search by word or meaning"
        style="width: 300px; height: 30px; font-size: 16px;">
      <input type="submit" value="Search" style="width: 100px; height: 30px; font-size: 16px;">
      <a href="/vocab/">Back</a>
    </form>
  </div>
</div>
<div class="table">
  <table id="wordbookTable" class="wordbook-table">
    <thead>
      <tr>
        <th class="hidden-column">User ID</th>
        <th>Word</th>
        <th>Meaning</th>
        <th>Pronunciation</th>
        <th>Category</th>
        <th>Context</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for wordbook in wordbook_data %}
      <tr>
        <td class="hidden-column">
          {{ wordbook.user_id }}
        </td>
        <td>{% if wordbook.word %}{{ wordbook.word }}{% endif %}</td>
        <td>{% if wordbook.meaning %}{{ wordbook.meaning }}{% endif %}</td>
        <td>{% if wordbook.pronunciation %}{{ wordbook.pronunciation }}{% endif %}</td>
        <td>{% if wordbook.category %}{{ wordbook.category }}{% endif %}</td>
        <td>{% if wordbook.context %}{{ wordbook.context }}{% endif %}</td>
        <td>
          <a href="/vocab/edit/{{ wordbook.word }}/" class="edit-button">Edit</a>
          <a href="/vocab/delete/{{ wordbook.word }}/" class="delete-button">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No results found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}